*{font-family: Arial;color:#333;}
body{background-color: #f8f8f8;margin: 16px 32px;}
li{margin-bottom: 1em;}
h1 img{max-width: 100%;max-height: 20em;}
.encore{font-size: 60%;}
a{color:#338;}
a:hover{text-decoration: underline;color:#33f;}
a:visited{color:#333;}
h2{
  background-color: #823331;
  color: #f8f8f8;
  padding: 0.5em 16px;
  margin: 1.5em -16px;
}

table {
    border: 1px solid #666;
    border-collapse: collapse;
}

table.tableList, table.tableList td {
    border-style: none;
    padding-left: 0;
}

th.references {
    font-style: italic
}

th {
    background: #eee;
    text-align: left;
}

th, td {
    padding: 0.2em;
    border: 1px solid #666;
}

.filters {
    margin-bottom: 1em;
}

.filters thead th {
    background: #ccc;
}

.null {
    color: #999;
}

#table-diagram {
    height: 5em; /* initial height, will be altered in js when diagram rendered */
    margin: 1em 0;
    border: 1px solid #333;
    padding: 1em;
}

a.button {
  padding: 1em;
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
  margin: 1em 0;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
