*{font-family: Arial;color:#333;}
body{background-color: #f8f8f8;margin: 16px 32px;}
li{margin-bottom: 1em;}
h1{
    margin: -11px 0px -5px -24px;/* adjust for unwanted padding in svg */
    float: left;
}
.encore{font-size: 60%;}
a{color:#333;}
a:hover{text-decoration: underline;}
a:visited{color:#333;}
h2{
  background-color: #333;
  color: #f8f8f8;
  padding: 0.5em 16px;
  margin: 1.5em -16px;
}

h2#connectionName {
    float: right;
}

h2#connectionName * {
    background-color: #333;
    color: #f8f8f8;
}

table {
    border: none;
    border-collapse: collapse;
}

th.references {
}

th {
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
}

td {
    vertical-align: top;
}

.column-name{
    float:left;
    display: block;
}

.sort-markers{
    margin: 0 0.5em 0.5em 0;
    font-size: 0.8em;
    white-space: nowrap;
    display: block;
}

th.sortable a {
    display: block;
    width: 100%;
    text-decoration: none;
}

tr:hover{
    background-color: #eee;
}

td a {
    display: block;
    width: 100%;
}

th, td {
    padding: 0.5em 0.75em;
}

.filters {
    margin-bottom: 1em;
}

.filters thead th {
}

.null {
    color: #999;
}

#table-diagram {
    height: 5em; /* initial height, will be altered in js when diagram rendered */
    margin: 1em 0;
    border: 1px solid #ccc;
    padding: 1em;
    resize:vertical;
    overflow: auto;/* needed for resizing https://stackoverflow.com/a/391773 */
}

.table-button{
    float: left;
    margin: 0.5em 1em 1em 0;
}
.hint .fas {
    margin-left: 1em;
    margin-right: 0.8em;
    padding-right: 0.8em;
}

.hint{
    color: #666;
    font-size: smaller;
}
nav {
    margin: 1em 0 0 -16px;
    clear: both;
}
nav ul {
    overflow: auto; /*clearfix*/
    margin: 0;
    padding: 0;
}
nav a:hover{
    text-decoration: none;
    background-color: #ccc;
}
nav a{
    display: inline-block;
    padding: 1em;
    min-width: 6em;
    text-align: center;
    text-decoration: none;
    background-color: #ddd;
}
nav li{
    float: left;
    margin: 0 0.5em 0 0;
    list-style-type: none;
}
a.button {
    display: inline-block;
    text-decoration: none;
}
a.button:hover,
a.button:visited{
    color: #f8f8f8;
}
.action-button:hover {
    background-color: #88308d;
}
.action-button * {
    /* for font-awesome colouring */
    background-color: #823331;
    color: #f8f8f8;
}

.action-button{
    background-color: #823331;
    color: #f8f8f8;
    padding: 0.5em 16px;
    border-style: none;
}
@media print{
    #diagram-toolbar,
    nav,
    .hint,
    .action-button
    { display: none; }
}
