body {
    background-color: #f9fff9;
    margin: 1em;
}

footer {
    color: #666;
    text-align: right;
    font-size: smaller;
}

footer a {
    color: #66c;
}

table {
    border: 1px solid #666;
    border-collapse: collapse;
    margin: 0.5em 0;
}

th.references {
    font-style: italic
}

th {
    background: #eee;
    text-align: left;
}

th, td {
    padding: 0.2em;
    border: 1px solid #666;
}

.filters thead th {
    background: #ccc;
}

.null {
    color: #999;
}

#table-diagram img{
    width: 100%;
}
