*{font-family: Arial;color:#333;}
body {
    background-color: #f8f8f8;
    margin: 16px 32px;
}
li{margin-bottom: 1em;}
h1{
    margin: -11px 0 0.75em -24px;/* negatives to adjust for unwanted padding in svg */
    float: left;
}
.encore{font-size: 60%;}
a{color:#333;}
a:visited{color:#333;}

h2{
    border-bottom: #333 solid 1.5px;
    padding: 0.5em 16px;
    margin: 1em -16px 0.5em -16px;
    clear: both;
}

#contextBlock h2 {
    border: none;
    margin: 0;
    padding: 0.25em;
}

#contextBlock {
    float: right;
    border: none;
    text-align: right;
    margin-bottom: 1em;
}

table {
    border: none;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    margin-left: -0.5em;
}

th {
    text-align: left;
    font-weight: normal;
    vertical-align: bottom;
}
thead{
    border-bottom: 1px solid #ccc;
}

td {
    vertical-align: top;
}

table.data-table-view{
    width: 100%;
    clear: both;
}
table.card-view th{
    text-align: right;
    vertical-align: top;

}
.cards{
    clear: both;
    overflow: auto; /*clearfix*/
}
table.card-view tr:hover{
    background-color: #e6e6e6;
}
table.card-view td{
    vertical-align: middle;
    padding: 0.5em 2.5em 0.5em 0;
}
table.card-view th{
    padding: 1em 1.5em 1em 1em;
    vertical-align: middle;

}
table.card-view{
    background-color: #eee;
    float: left;
    margin: 0 1em 1em 0;
}


.column-name{
    float:left;
    display: block;
}

.filter-info,
.page-info,
.sort-info{
    float:left;
    overflow: auto; /*clearfix*/
    margin: 0.5em 2.5em 1em -0.5em;
}
.sort-filter-info {
    clear: both;
    overflow: auto; /*clearfix*/
}

.sort-markers{
    margin: 0 0.5em 0.5em 0;
    font-size: 0.8em;
    white-space: nowrap;
    display: block;
}

th.sortable a {
    display: block;
    width: 100%;
    text-decoration: none;
}

tr:hover{
    background-color: #eee;
}

.column-name,
td .parent-fks{
    white-space: nowrap;
}

td .parent-fk-link:hover,
td a:hover {
    background-color: #ccc;
}

td .parent-fk-link{
    display: inline-block;
    padding: 0.5em;
    margin: 0 0 0.5em 0.25em;
}
td .parent-fk-table,
td .compound-value,
td .bare-value{
    display: inline-block;
    padding: 0.5em 0;
}

.clicky-cells a {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}
.clicky-cells td a:last-of-type {
    margin-bottom: 0;
}

td .compound-value{
    padding: 0.5em;
}
td .parent-fk-link,
td a {
    background-color: #ddd;
}
.tableList a,
td a.fk.single {
    width: 100%;
}
td .parent-fk-link,
td a {
    text-decoration: none;
}

th, td {
    padding: 0.5em 1.5em 0.5em 0.5em;
}

.null {
    color: #999;
}

#table-diagram {
    height: 5em; /* initial height, will be altered in js when diagram rendered */
    margin: 1em 0;
    border: 1px solid #ccc;
    padding: 1em;
    resize:vertical;
    overflow: auto;/* needed for resizing https://stackoverflow.com/a/391773 */
}

#diagramWrapper{
    position: relative;
}

.hint .fas {
    margin-left: 1em;
    margin-right: 0.8em;
    padding-right: 0.8em;
}

#column-info .nullable *,
#column-info .notnull * {
    color: #939191;
}

.notnull {
    white-space: nowrap;
}

.hint,
.hint * {
    color: #666;
    font-size: smaller;
}
nav {
    margin: 0.5em 0 0 0;
    clear: both;
}
nav ul {
    overflow: auto; /*clearfix*/
    margin: 0;
    padding: 0;
}
nav a:hover{
}
nav a{
    background-color: #ddd;
    color:#333;
}
nav li{
    float: left;
    list-style-type: none;
    margin: 0;
}

button, .button, nav a, nav a:visited, .button:visited {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.75rem 0.75rem 0;
    min-width: 10.5rem;
    background-color: #823331;
    color: #f8f8f8;
    padding: 0.5rem 1rem;
    border-style: none;
    font-size: 1rem;
    text-align: left;
    box-sizing: content-box; /* make span & button behave the same */
    cursor: pointer;
}
.button:hover, button:hover, nav a:hover {
    text-decoration: none;
    background-color: #984e4c;
}
.button.disabled {
    background-color: #666;
}
a.jump-link:hover {
    background-color: #ddd;
}
.jump-link,
.jump-link:visited {
    background-color: #ccc;
    color: #333;
}
.jump-link *{
    color: #333 !important;
}

/* children of button for font-awesome colouring */
.button *, nav a *, button * {
    color: #f8f8f8;
}

footer h2 {
    border-bottom-color: #f8f8f8;
}
footer {
    background-color: #333;
    margin: 4em -32px 0;
    padding: 0.5em 2.5em 5em;
    font-size: 0.75em;
}
footer *, footer a, footer a:visited{
    color: #f8f8f8;
}

@media print{
    #diagram-toolbar,
    nav,
    .hint,
    .button,
    button,
    footer,
    .trail-info
    { display: none; }
}
:target {
    background-color: #e6dada;
}
.peek {
    color: #666;
    margin-left: 0.75em;
}
