{{define "_diagram"}}
<h2 id="diagram">Relationship diagram</h2>
<div id="table-diagram">
</div>
<script>
    var cy;
    function fitDiagram(){
        // based on https://stackoverflow.com/a/27449713/10245
        var boundingBox = cy.elements().boundingBox();
        // console.log('diagram resized', boundingBox);
        $('#table-diagram').css('height', boundingBox.h);
    }
    $(document).ready(function() {
        // http://js.cytoscape.org/#getting-started
        cy = cytoscape({
            container: $('#table-diagram'),
            elements: [
            {{range .Tables}}
                {data: {id: '{{.}}'}},
            {{end}}
            {{range .TableLinks}}
                {data: {id: '{{.Source}}_{{.Destination}}', source: '{{.Source}}', target: '{{.Destination}}'}},
            {{end}}
            ],
            zoomingEnabled: false,
            panningEnabled: false,
            userPanningEnabled: false,
            boxSelectionEnabled: false,
            layout: {
                name: 'dagre'
            },
            style: [
                {
                    selector: 'node',
                    css: {
                        'content': 'data(id)',
                        'text-valign': 'center',
                        'text-halign': 'center',
                        'shape': 'rectangle',
                        'background-opacity': '1',
                        'background-color': '#fff',
                        'border-style':'solid',
                        'border-color':'#000',
                        'border-width':'1px',
                        'width':'label',
                        'height':'label',
                        'padding':'5px'
                    }
                },
                {
                    selector: 'edge',
                    css: {
                        'line-style':'solid',
                        'line-color':'#000',
                        'width':'1px',
                        'mid-target-arrow-shape': 'triangle',
                        'mid-target-arrow-color': '#000',
                        'mid-target-arrow-fill': 'filled'
                    }
                }
            ]

        });
        cy.ready(function(){
            fitDiagram();
        });
        cy.on('tap','node',function(e){
            window.location = '/tables/' + e.target.data().id + '?_rowLimit=100';
        })
    });
</script>
{{end}}
