{{define "_diagram"}}
<div id="diagramWrapper">
<div id="diagram-toolbar">
    <button id="enable-zoom" onclick="toggleZoomPan(true)">
        <i class="fas fa-search-plus"></i>
        enable zoom/pan</button>
    <button id="disable-zoom" onclick="toggleZoomPan(false)" style="display: none;">
        <i class="fas fa-times"></i>
        disable zoom/pan</button>
    <button id="reset-diagram" onclick="resetZoomPan()">
        <i class="fas fa-undo"></i>
        reset zoom/pan</button>
</div>
<div id="table-diagram">
</div>
    <p class="hint">
        <i class="fas fa-info-circle"></i>
        Tap a table in the diagram to jump straight to it.
        Tap &amp; drag in a gap to pan around.
        Tap &amp; drag a table to re-arrange the diagram.
    <p class="hint">
        <i class="fas fa-info-circle"></i>
        Tap the "enable zoom" button, then use the mouse wheel to zoom in to where the mouse pointer is.
    </p>
    <p class="hint">
        <i class="fas fa-info-circle"></i>
        Customised table layout is not remembered.
        Refresh the page to reset the diagram.
    </p>
</div>
<script>
    var cy;

    // adjust aspect ratio of diagram container to match aspect of diagram,
    // then resize/pan the diagram to fit
    function fitDiagram(){
        cy.reset();
        var boundingBox = cy.elements().boundingBox(); // ref: https://stackoverflow.com/a/27449713/10245

        // adjust container height to match aspect ratio of diagram, up to a maximum of 1:2
        var aspectRatio = Math.max(0.5, boundingBox.w/boundingBox.h);
        var diagram = $('#table-diagram');
        var newHeight = diagram.width() / aspectRatio;
        $('#table-diagram').css('height', newHeight);

        // zoom to fit, cy.fit() doesn't seem to work
        var widthFit = diagram.width()/boundingBox.w;
        var heightFit = diagram.height()/boundingBox.h;
        var newZoom = Math.min(1,Math.min(widthFit,heightFit));
        cy.zoom(newZoom);

        // shrink the box if it's ended up too big because of the zoom limit
        if (diagram.height()>boundingBox.h) {
            var newHeight = boundingBox.h;
            $('#table-diagram').css('height', newHeight);
        }
    }

    $(document).ready(function() {
        // http://js.cytoscape.org/#getting-started
        cy = cytoscape({
            container: $('#table-diagram'),
            elements: [
            {{range .Tables}}
                {data: {id: '{{.}}'}},
            {{end}}
            {{range .TableLinks}}
                {data: {id: '{{.Source}}_{{.Destination}}', source: '{{.Source}}', target: '{{.Destination}}'}},
            {{end}}
            ],
            boxSelectionEnabled: false,
            layout: {
                name: 'dagre',
                rankDir: 'BT'
            },
            style: [
                {
                    selector: 'node',
                    css: {
                        'content': 'data(id)',
                        'text-valign': 'center',
                        'text-halign': 'center',
                        'shape': 'rectangle',
                        'background-opacity': '1',
                        'background-color': '#fff',
                        'border-style':'solid',
                        'border-color':'#000',
                        'border-width':'1px',
                        'width':'label',
                        'height':'label',
                        'padding':'5px'
                    }
                },
                {
                    selector: 'edge',
                    css: {
                        'line-style':'solid',
                        'line-color':'#000',
                        'width':'1px',
                        'mid-target-arrow-shape': 'triangle',
                        'mid-target-arrow-color': '#000',
                        'mid-target-arrow-fill': 'filled'
                    }
                }
            ]

        });
        cy.ready(function(){
            fitDiagram();
            cy.zoomingEnabled(false);
            cy.panningEnabled(false);
        });
        cy.on('tap','node',function(e){
            window.location = '{{if .LayoutData.CanSwitchDatabase}}/{{.LayoutData.DatabaseName}}{{end}}/tables/' + e.target.data().id + '?_rowLimit=100';
        });
        // https://stackoverflow.com/questions/19532031/how-do-i-change-cursor-to-pointer-when-mouse-is-over-a-node/51235755#51235755
        cy.on('mouseover', 'node', function(e){
            $('#table-diagram').css('cursor', 'pointer');
        });
        cy.on('mouseout', 'node', function(e){
            $('#table-diagram').css('cursor', 'default');
        });
    });

    function resetZoomPan(enable){
        fitDiagram();
    }
    function toggleZoomPan(enable){
        $('#enable-zoom').toggle(!enable);
        $('#disable-zoom').toggle(enable);
        cy.zoomingEnabled(enable);
        cy.panningEnabled(enable);
    }
</script>
{{end}}
