{{define "_diagram"}}
<h2 id="diagram">Relationship diagram</h2>
<div id="table-diagram">
</div>
<p class="hint">Click a table in the diagram to jump straight to it</p>
<script>
    var cy;

    // adjust aspect ratio of diagram container to match aspect of diagram,
    // then resize/pan the diagram to fit
    function fitDiagram(){
        cy.reset();
        var boundingBox = cy.elements().boundingBox(); // ref: https://stackoverflow.com/a/27449713/10245

        // adjust container height to match aspect ratio of diagram, up to a maximum of 1:2
        var aspectRatio = Math.max(0.5, boundingBox.w/boundingBox.h);
        var diagram = $('#table-diagram');
        var newHeight = diagram.width() / aspectRatio;
        $('#table-diagram').css('height', newHeight);

        // zoom to fit, cy.fit() doesn't seem to work
        var widthFit = diagram.width()/boundingBox.w;
        var heightFit = diagram.height()/boundingBox.h;
        var newZoom = Math.min(1,Math.min(widthFit,heightFit));
        cy.zoom(newZoom);

        // shrink the box if it's ended up too big because of the zoom limit
        if (diagram.height()>boundingBox.h) {
            var newHeight = boundingBox.h;
            $('#table-diagram').css('height', newHeight);
        }
    }

    $(document).ready(function() {
        // http://js.cytoscape.org/#getting-started
        cy = cytoscape({
            container: $('#table-diagram'),
            elements: [
            {{range .Tables}}
                {data: {id: '{{.}}'}},
            {{end}}
            {{range .TableLinks}}
                {data: {id: '{{.Source}}_{{.Destination}}', source: '{{.Source}}', target: '{{.Destination}}'}},
            {{end}}
            ],
            boxSelectionEnabled: false,
            layout: {
                name: 'dagre'
            },
            style: [
                {
                    selector: 'node',
                    css: {
                        'content': 'data(id)',
                        'text-valign': 'center',
                        'text-halign': 'center',
                        'shape': 'rectangle',
                        'background-opacity': '1',
                        'background-color': '#fff',
                        'border-style':'solid',
                        'border-color':'#000',
                        'border-width':'1px',
                        'width':'label',
                        'height':'label',
                        'padding':'5px'
                    }
                },
                {
                    selector: 'edge',
                    css: {
                        'line-style':'solid',
                        'line-color':'#000',
                        'width':'1px',
                        'mid-target-arrow-shape': 'triangle',
                        'mid-target-arrow-color': '#000',
                        'mid-target-arrow-fill': 'filled'
                    }
                }
            ]

        });
        cy.ready(function(){
            fitDiagram();
        });
        cy.on('tap','node',function(e){
            window.location = '/tables/' + e.target.data().id + '?_rowLimit=100';
        })
    });
</script>
{{end}}
