{{define "header"}}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/sdv.css"/>
    <script src="/static/vendor/jquery/jquery-3.2.1.slim.min.js" type="application/javascript"></script>
    <script src="/static/vendor/cytoscape/cytoscape-3.2.7.min.js" type="application/javascript"></script>
</head>
<body>
    <h1>SQL Schema Explorer <span class="encore">by Tim Abell - <a href="http://schemaexplorer.io/" target="_blank">schemaexplorer.io</a></span></h1>
{{end}}

