{{define "layout"}}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.LayoutData.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/sse.css"/>
    <link rel="icon" type="image/png" href="/static/schemaexplorer-favicon.png"/>
    <script src="/static/vendor/jquery/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/static/vendor/cytoscape/cytoscape-3.2.7.min.js" type="application/javascript"></script>
    <script src="/static/vendor/cytoscape-dagre/dagre.min.js"></script>
    <script src="/static/vendor/cytoscape-dagre/cytoscape-dagre.js"></script>
    <script defer src="/static/vendor/fontawesome/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="/static/vendor/tablesorter/jquery.tablesorter.combined.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/vendor/tablesorter/sse-theme.css"/>
</head>
<body>
{{block "common-headers" .}}
    <h1>
        <a href="/"><img src="/static/logo.svg" alt="SQL Schema Explorer by Tim Abell" height="80px"/></a>
    </h1>

<div id="contextBlock">
    {{if .LayoutData.ConnectionName}}
        <h2 id="connectionName">
            {{.LayoutData.ConnectionName}}
            <i class="fas fa-database"></i>
        </h2>
    {{end}}
    {{block "subheading" .}}
    {{end}}
</div>

<nav>
    <ul>
        {{if .LayoutData.CanSwitchDatabase}}
        <li>
            <a href='/databases'>
                <i class="fas fa-clone"></i>
                Databases</a>
        </li>
        {{end}}
        {{if .LayoutData.DbReady}}
        <li>
                <a href='{{if .LayoutData.CanSwitchDatabase}}/{{.LayoutData.DatabaseName}}{{end}}/'>
                <i class="fas fa-database"></i>
                Database</a>
        </li>
        <li>
            <a href='{{if .LayoutData.CanSwitchDatabase}}/{{.LayoutData.DatabaseName}}{{end}}/table-trail'>
                <i class="fas fa-history"></i>
                Visited Tables</a>
        </li>
        {{end}}
    </ul>
</nav>

{{end}}
{{block "content" .}}
    **template content block not defined**
{{end}}
<a href="#" class="top-link">^ top</a>
<footer>
    <p>
        Generated {{.LayoutData.Timestamp}}
    </p>
    <p>
        <a href="{{.LayoutData.About.Website}}" target="_blank">{{.LayoutData.About.ProductName}}</a>
        v{{.LayoutData.About.Version}}, {{.LayoutData.Copyright}}
        <br/>
        {{.LayoutData.LicenseText}}
        <br/>
        <a href="/static/license.html">Terms of use</a>
    </p>
    <p>
        Please help improve Sql Schema Explorer
    <br/>
    Like it? Share the love with a  <a href="https://twitter.com/intent/tweet?text=I%20loved%20using%20Sql%20Schema%20Explorer%20today%21%20You%20should%20try%20it%20too%20%3A-%29%20Check%20it%20out%20at%3A%20http%3A//timabell.github.io/schema-explorer/%20-%20made%20with%20love%20by%20@tim_abell" target="_blank">tweet</a>!</p>
</footer>
<script>
    $(document).ready(function() {
        $(".tablesorter").tablesorter();

        $("body").on("focus", ".editable-doc", function(e){
            // save a copy so we can see if there's anything to send to the server
            e.target.dataset.unchanged = e.target.innerText.trim();
        });
        $("body").on("blur", ".editable-doc", function(e){
            var update = e.target.innerText.trim();
            if (e.target.dataset.unchanged != update){
                var url = e.target.dataset.url
                $.post(url, update);
            }
        });
    });
</script>
</body>
</html>
{{end}}
