{{define "content"}}
    <h2>Select a database type to connect to</h2>
    {{range .Drivers}}
    <div>
        <a class="button" href="setup/{{.Name}}">{{.FullName}}</a>
    </div>
    {{end}}
{{end}}
