{{define "content"}}
    <h2>{{.Driver.FullName}}</h2>
    <p>
        For configuration help see
        <a target="_blank" href="http://schemaexplorer.io/help/getting-started.html">the getting started guide</a>.
    </p>
    {{if .Errors}}
        <div class="errors">
            <i class="fas fa-exclamation-triangle"></i>
            {{.Errors}}
        </div>
    {{end}}
    <form action="/setup/{{.Driver.Name}}" method="post" id="driverSetup">
        {{range $name, $opt := .Driver.Options}}
    <div>
        <label for="{{$name}}">{{$name}}:</label>
        {{if eq $name "password"}}
            <input name="{{$name}}" type="password"/>
        {{else}}
            <input name="{{$name}}" type="text"/>
        {{end}}
        <br/>
        <div class="description">
        {{.Description}}
        </div>
    </div>
    <br/>
        {{end}}
    <div>
        <button>Connect</button>
    </div>
    </form>
{{end}}
