{{define "content"}}
    <h2>{{.Driver.FullName}}</h2>
    <p>
        For configuration help see
        <a target="_blank" href="http://schemaexplorer.io/help/getting-started.html">the getting started guide</a>.
    </p>
    <form action="/setup/{{.Driver.Name}}/run" method="post" id="driverSetup">
        {{range .Options}}
    <div>
        <label for="{{.LongName}}">{{.LongName}}:</label>
        {{if eq .LongName "password"}}
            <input name="{{.LongName}}" type="password"/>
        {{else}}
            <input name="{{.LongName}}" type="text"/>
        {{end}}
        <br/>
        <div class="description">
        {{.Description}}
        </div>
    </div>
    <br/>
        {{end}}
    <div>
        <button>Connect</button>
    </div>
    </form>
{{end}}
