{{define "nav"}}
<li>
    <a href='#diagram'>
        <i class="fas fa-project-diagram"></i>
        Diagram
    </a>
</li>
<li>
    <a href='#columns'>
        <i class="fas fa-columns"></i>
        Columns</a>
</li>
<li>
    <a href='#foreignKeys'>
        <i class="fas fa-exchange-alt"></i>
        Foreign Keys</a>
</li>
<li>
    <a href='#data'>
        <i class="fas fa-table"></i>
        Data</a>
</li>
{{end}}

{{define "subheading"}}
<h2>
{{.Table.Name}}
    <i class="fas fa-table"></i>
</h2>
{{end}}

{{define "content"}}
{{if $.Database.Supports.Descriptions}}
<p>{{.Table.Description}}</p>
{{end}}
<h2 id="diagram">Nearest Tables</h2>
{{template "_diagram" .Diagram}}
<h2 id="columns">Columns</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Foreign Key</th>
            {{if $.Database.Supports.Descriptions}}
            <th>Description</th>
            {{end}}
        </tr>
        </thead>
        {{ range .Table.Columns }}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Type}}</td>
            <td>
            {{if .Fk}}
                <a href="{{.Fk.DestinationTable}}?_rowLimit=100">{{.Fk.DestinationTable}}</a>
                ({{.Fk.DestinationColumns}})
            {{end}}
            </td>
            {{if $.Database.Supports.Descriptions}}
            <td>{{.Description}}</td>
            {{end}}
        </tr>
        {{end}}
    </table>

<h2 id="foreignKeys">Foreign Keys</h2>
<h3>Outbound</h3>
<table>
    <thead>
    <tr>
        <th>From</th>
        <th colspan="2">To (Primary Key)</th>
    </tr>
    <tr>
        <th>Column</th>
        <th>Table</th>
        <th>Column</th>
    </tr>
    </thead>
    <tbody>
    {{range .Table.Fks}}
    <tr>
        <td>
        {{range .SourceColumns}}
            {{.Name}}
        {{end}}
        </td>
        <td><a href="{{.DestinationTable}}?_rowLimit=100">{{.DestinationTable}}</a></td>
        <td>
        {{range .DestinationColumns}}
            {{.Name}}
        {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

<h3>Inbound</h3>
<table>
    <thead>
    <tr>
        <th colspan="2">From</th>
        <th>To (Primary Key)</th>
    </tr>
    <tr>
        <th>Table</th>
        <th>Column</th>
        <th>Column</th>
    </tr>
    </thead>
    <tbody>
    {{range .Table.InboundFks}}
    <tr>
        <td><a href="{{.SourceTable}}?_rowLimit=100">{{.SourceTable}}</a></td>
        <td>
        {{range .SourceColumns}}
            {{.Name}}
        {{end}}
        </td>
        <td>
        {{range .DestinationColumns}}
            {{.Name}}
        {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

<h2 id="data">Data</h2>
{{ if .TableParams.RowLimit }}
<p class='filtered'>First {{.TableParams.RowLimit}} rows
    <small class="hint" style="margin-left: 0.75em;">
        <i class="fas fa-info-circle"></i>
        You can change the row limit in the address bar.</small><p>
{{end}}

{{ if .TableParams.Filter }}
    <table class='filters'>
        <thead>
        <tr>
            <th colspan="2">
                Records filtered to:
            </th>
        </tr>
        </thead>
        <tbody>
        {{ range .TableParams.Filter }}
        <tr>
            <th>
                {{.Field}}
            </th>
            <td>
                {{ range .Values }}
                {{.}}
                {{end}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <div class="table-button">
        <a class="action-button button" href="?{{.TableParams.ClearFilter.AsQueryString}}#data">
            <i class="fas fa-times"></i>
            Clear Filter</a>
    </div>
{{end}}

<div class="table-button">
    <a class="action-button button" href="?{{.TableParams.ClearSort.AsQueryString}}#data">
        <i class="fas fa-sort"> </i>
        Reset Sort Order</a>
</div>

{{if .TableParams.CardView}}
    <div class="table-button">
        {{/*todo: need a url builder to avoid ending up with ?& if there's no query*/}}
        <a class="action-button button" href="?{{.TableParams.CardViewOff.AsQueryString}}#data">
            <i class="fas fa-table"> </i>
            Switch to table view</a>
    </div>
    <div class="cards">
    {{ range .Rows }}
        {{$val := .}}
        {{$refsLen := len .}}
        {{$refsIndex := minus $refsLen 1}}
        <table class="card-view">
            {{ range $i, $col :=  $.Table.Columns }}
                <tr>
                    <th title='type: {{.Type}}'>{{.Name}}</th>
                    <td>{{index $val $i}}</td>
                </tr>
            {{end}}
            <tr>
                <th class='references'>referenced by</th>
                <td>{{index $val $refsIndex}}</td>
            </tr>
        </table>
    {{end}}
    </div>
{{else}}
    <div class="table-button">
        <a class="action-button button" href="?{{.TableParams.CardViewOn.AsQueryString}}#data">
            <i class="fas fa-list"> </i>
            Switch to card view</a>
    </div>
    <table class="data-table-view">
        <thead>
        <tr>
            {{ range .Table.Columns }}
                <th title='Field data type: {{.Type}}' class="sortable">
                    <a href="?{{($.TableParams.AddSort .).AsQueryString}}#data" class="fk">
                        <span class="sort-markers">
                            {{ if $.TableParams.IsSorted . }}
                                {{ if $.TableParams.IsSortedAsc . }}
                                    <i class="fas fa-sort-up"> </i>
                                    asc
                                {{end}}
                                {{ if $.TableParams.IsSortedDesc . }}
                                    <i class="fas fa-sort-down"> </i>
                                    desc
                                {{end}}
                                {{ $.TableParams.SortPosition . }}
                            {{else}}
                                <i class="fas fa-sort"> </i> sort
                            {{end}}
                        </span>
                        <span class="column-name">
                            {{.Name}}
                        </span>
                    </a>
                </th>
            {{end}}
            <th class='references'>Referenced by</th>
        </tr>
        </thead>
        {{ range .Rows }}
            <tr>
                {{ range . }}
                <td>{{.}}</td>
                {{end}}
            </tr>
        {{end}}
    </table>
{{end}}

{{end}}
