{{define "nav"}}
<li>
    <a href='#diagram'>
        <i class="fas fa-project-diagram"></i>
        Diagram
    </a>
</li>
<li>
    <a href='#tableList'>
        <i class="fas fa-list"></i>
        Table List</a>
</li>
<li>
    <a href='#foreignKeys'>
        <i class="fas fa-exchange-alt"></i>
        Foreign Keys</a>
</li>
{{end}}

{{define "content"}}
{{template "_diagram" .Diagram}}
<h2 id="tableList">Table List</h2>
<table class="tableList">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rows</th>
        {{if $.Database.Supports.Descriptions}}
        <th>Description</th>
        {{end}}
    </tr>
    </thead>
    <tbody>
{{range .Database.Tables}}
        <tr>
            <td><a href='tables/{{.}}?_rowLimit=100'>{{.}}</a></td>
            <td>{{.RowCount}}</td>
            {{if $.Database.Supports.Descriptions}}
            <td>{{.Description}}</td>
            {{end}}
        </tr>
{{end}}
    </tbody>
</table>
<h2 id="foreignKeys">Foreign Keys</h2>
<table>
    <thead>
    <tr>
        <th></th>
        <th colspan="2">From</th>
        <th colspan="2">To (Primary Key)</th>
    </tr>
    <tr>
        {{if $.Database.Supports.FkNames}}
        <th>Name</th>
        {{end}}
        <th>Table</th>
        <th>Column</th>
        <th>Table</th>
        <th>Column</th>
    </tr>
    </thead>
    <tbody>
    {{range .Database.Fks}}
    <tr>
        {{if $.Database.Supports.FkNames}}
        <td>{{.Name}}</td>
        {{end}}
        <td><a href="tables/{{.SourceTable}}?_rowLimit=100">{{.SourceTable}}</a></td>
        <td>
        {{range .SourceColumns}}
            {{.Name}}
        {{end}}
        </td>
        <td><a href="tables/{{.DestinationTable}}?_rowLimit=100">{{.DestinationTable}}</a></td>
        <td>
        {{range .DestinationColumns}}
            {{.Name}}
        {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}
