{{define "tables"}}
{{template "header" .LayoutData}}
<h2>Tables</h2>
<table border=1 class="tableList">
    {{range .Tables}}
    <tr><td><a href='tables/{{.}}?_rowLimit=100'>{{.}}</a></td></tr>
    {{end}}
</table>
<h2 id="diagram">Relationship diagram</h2>
<div id="table-diagram">
</div>
<script>
    $(document).ready(function() {
        // http://js.cytoscape.org/#getting-started
        var cy = cytoscape({
            container: $('#table-diagram'),
            elements: [
                {{range .Tables}}
                    {data: {id: '{{.}}'}},
                {{end}}
                {{range .TableLinks}}
                    {data: {id: '{{.Source}}_{{.Destination}}', source: '{{.Source}}', target: '{{.Destination}}'}},
                {{end}}
            ],
            layout: {
                name: 'circle'
            },
            style: [
                {
                    selector: 'node',
                    css: {
                        'content': 'data(id)',
                        'text-valign': 'center',
                        'text-halign': 'center',
                        'shape': 'rectangle',
                        'background-opacity': '1',
                        'background-color': '#fff',
                        'border-style':'solid',
                        'border-color':'#000',
                        'border-width':'2px',
                        'width':'label',
                        'height':'label',
                        'padding':'8px'
                    }
                },
                {
                    selector: '$node > node',
                    css: {
                        'padding-top': '10px',
                        'padding-left': '10px',
                        'padding-bottom': '10px',
                        'padding-right': '10px',
                        'text-valign': 'top',
                        'text-halign': 'center',
                        'background-color': '#000'
                    }
                },
                {
                    selector: 'edge',
                    css: {
                        'target-arrow-shape': 'triangle'
                    }
                }
            ]

        });
    });
</script>
{{template "footer" .LayoutData}}
{{end}}
