{{define "nav"}}
    {{if .Trail.Dynamic}}
    <li>
        <a class="action-button button" href="/table-trail/clear">
            <i class="fas fa-eraser"></i>
            Reset Trail</a>
    </li>
    {{end}}
    {{if .Trail.Dynamic}}
        <li>
                <a href="/table-trail?tables={{.Trail.AsCsv}}">
                    <i class="fas fa-link"></i>
                    Permalink</a>
        </li>
    {{end}}
{{end}}

{{define "content"}}
    {{if .Trail.Dynamic}}
        <h2 id="tableList">Tables You've Visited</h2>
    {{else}}
        <h2 id="tableList">Custom Diagram</h2>
    {{end}}

    {{if .Trail.Tables}}
        {{template "_diagram" .Diagram}}
    {{else}}
        <p>
            <strong>None!</strong>
            You must be new round here, welcome!
        </p>
        <p>
            This page will automatically build a diagram showing just the tables you've viewed.
            This an amazing way of quickly creating diagrams for the set of tables you actually
            care about on any given day.
        </p>
        <p>
            Go and <a href="/">look at some tables</a> and then come back here.
        </p>
    {{end}}
{{end}}
