{{define "content"}}
<nav>
    <ul>
        <li>
            <a href='/'>&lt;&lt; Table list</a> |
            <a href="/table-trail/clear">Clear</a>
        </li>
    </ul>
</nav>
<h2 id="tableList">Tables you've visited</h2>
{{template "_diagram" .Diagram}}
{{end}}
