{{define "content"}}
<nav>
    <ul>
        <li>
            <a href='/'>&lt;&lt; Table list</a> |
            <a href='/table-trail'>Table Trail</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            Jump to:
        </li>
        <li>
            <a href='#diagram'>Diagram</a> |
        </li>
        <li>
            <a href='#columns'>Columns</a> |
        </li>
        <li>
            <a href='#foreignKeys'>Foreign Keys</a> |
        </li>
        <li>
            <a href='#data'>Data</a>
        </li>
    </ul>
</nav>

<h2>Table: {{.Table.Name}}</h2>
<p>{{.Table.Description}}</p>
{{template "_diagram" .Diagram}}
<h2 id="columns">Columns</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Foreign Key</th>
            <th>Description</th>
        </tr>
        {{ range .Table.Columns }}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Type}}</td>
            <td>
            {{if .Fk}}
                <a href="{{.Fk.DestinationTable}}?_rowLimit=100">{{.Fk.DestinationTable}}</a>
                ({{.Fk.DestinationColumns}})
            {{end}}
            </td>
            <td>{{.Description}}</td>
        </tr>
        {{end}}
    </table>

<h2 id="foreignKeys">Foreign Keys</h2>
<h3>Outbound</h3>
<table>
    <thead>
    <tr>
        <th>From</th>
        <th colspan="2">To (Primary Key)</th>
    </tr>
    <tr>
        <th>Column</th>
        <th>Table</th>
        <th>Column</th>
    </tr>
    </thead>
    <tbody>
    {{range .Table.Fks}}
    <tr>
        <td>
        {{range .SourceColumns}}
            {{.Name}}
        {{end}}
        </td>
        <td><a href="{{.DestinationTable}}?_rowLimit=100">{{.DestinationTable}}</a></td>
        <td>
        {{range .DestinationColumns}}
            {{.Name}}
        {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

<h3>Inbound</h3>
<table>
    <thead>
    <tr>
        <th colspan="2">From</th>
        <th>To (Primary Key)</th>
    </tr>
    <tr>
        <th>Table</th>
        <th>Column</th>
        <th>Column</th>
    </tr>
    </thead>
    <tbody>
    {{range .Table.InboundFks}}
    <tr>
        <td><a href="{{.SourceTable}}?_rowLimit=100">{{.SourceTable}}</a></td>
        <td>
        {{range .SourceColumns}}
            {{.Name}}
        {{end}}
        </td>
        <td>
        {{range .DestinationColumns}}
            {{.Name}}
        {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

<h2 id="data">Data</h2>
{{ if .TableParams.Filter }}
    <table class='filters'>
        <thead>
        <tr>
            <th colspan="2">
                Records filtered to:
            </th>
        </tr>
        </thead>
        <tbody>
        {{ range .TableParams.Filter }}
        <tr>
            <th>
                {{.Field}}
            </th>
            <td>
                {{ range .Values }}
                {{.}}
                {{end}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <div>
        <a class="action-button button" href="?{{.TableParams.ClearFilter.AsQueryString}}#data">Clear Filter</a>
    </div>
{{end}}

{{ if .TableParams.RowLimit }}
    <p class='filtered'>First {{.TableParams.RowLimit}} rows<p>
{{end}}

{{if .TableParams.CardView}}
    <p>
        {{/*todo: need a url builder to avoid ending up with ?& if there's no query*/}}
        <a class="action-button button" href="?{{.TableParams.Filter.AsQueryString}}&_rowLimit=100&_cardView=false#data">Switch to table view</a>
    </p>
    {{ range .Rows }}
        {{$val := .}}
        {{$refsLen := len .}}
        {{$refsIndex := minus $refsLen 1}}
        <table border=1>
            {{ range $i, $col :=  $.Table.Columns }}
                <tr>
                    <th title='type: {{.Type}}'>{{.Name}}</th>
                    <td>{{index $val $i}}</td>
                </tr>
            {{end}}
            <tr>
                <th class='references'>referenced by</th>
                <td>{{index $val $refsIndex}}</td>
            </tr>
        </table>
            <br/>
    {{end}}
{{else}}
    <p>
        <a class="action-button button" href="?{{.TableParams.Filter.AsQueryString}}&_rowLimit=100&_cardView=true#data">Switch to card view</a>
    </p>
    <table border=1>
        <tr>
            {{ range .Table.Columns }}
                <th title='type: {{.Type}}'>
                    {{.Name}}&nbsp;<a href="?{{$.TableParams.Filter.AsQueryString}}&_sort={{.Name}}#data">\/</a>
                </th>
            {{end}}
            <th class='references'>referenced by</th>
        </tr>
        {{ range .Rows }}
            <tr>
                {{ range . }}
                <td>{{.}}</td>
                {{end}}
            </tr>
        {{end}}
    </table>
{{end}}

{{end}}
