<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ 'articles.css' | relative_url }}"/>
	<link rel="icon" type="image/png" href="{{ 'schemaexplorer-favicon.png' | relative_url }}"/>
	<title>{{page.title}}</title>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://timabell.github.io/schema-explorer/{{page.url}}"/>
	<meta property="og:image" content="https://timabell.github.io/schema-explorer/logo.png"/>
	<meta property="og:title" content="{{page.title}}"/>
	<meta property="og:site_name" content="SQL Schema Explorer"/>
	<meta property="og:description" content="{{page.description}}"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3978538-5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-3978538-5');
	</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body class="layout-{{page.layout}}">
<div id="container">
<h1><a href="{{ '/' | relative_url }}"><img src="{{ 'logo.svg' | relative_url }}" alt="SQL Schema Explorer by Tim Abell" style="max-height: 4em;"/></a></h1>

<main>
{{content}}
</main>
</body>
</html>
