<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/articles/articles.css"/>
	<title>{{page.title}}</title>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://schemaexplorer.io{{page.url}}"/>
	<meta property="og:image" content="http://schemaexplorer.io/logo.png"/>
	<meta property="og:title" content="{{page.title}}"/>
	<meta property="og:site_name" content="SQL Schema Explorer"/>
	<meta property="og:description" content="{{page.description}}"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3978538-5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-3978538-5');
	</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<div id="container">
  <h1><a href="http://schemaexplorer.io/"><img src="/logo.svg" alt="SQL Schema Explorer by Tim Abell" style="max-height: 4em;"/></a></h1>

	{{content}}

<footer>

<hr/>
<p>Pssst! I've been working on a tool to shed light on your database, go ahead
  and sign up for early access to schema explorer and I'll help you get started
  with it; first-come first-served! Learn more and sign up at
  <a href="http://schemaexplorer.io/">http://schemaexplorer.io/</a>.</p>

</footer>

<div class="drip-gap">&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></div>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '1072062';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/1072062.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
<!-- end Drip -->
</body>
</html>
